.Premiere,
.Finale {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.Premiere {
    border-top: double;
}

.Finale {
    border-bottom: double;
}

.Start {
    border-top: solid;
}

.End {
    border-bottom: solid
}

.Miniseries {
    color: yellowgreen;
}

.End,
.Start {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.Movie {
    color: lightcoral;
}

.Iso {
    font-size: smaller;
}

.Iso::before {
    content: '['
}

.Iso::after {
    content: ']'
}

.Film {
    color: lightblue;
}

.content h1 {
    font-size: 36pt;
}

body {
    background-color: black;
    color: white;
}

.eplist ol li {
    margin: 0.5em auto;
}

.content h2 {
    font-family: serif;
    font-weight: normal;
    text-decoration: overline;
    padding-top: 1em;
    margin-top: 0;
}

.content h2 a {
    color: white;
    font-family: serif;
    font-weight: normal;
    text-decoration: overline;
}

.content p,
.content li {
    font-family: sans-serif;
    line-height: 1.5em;
    text-indent: 1em;
}

.content .eplist ol li .hidden-info {
    display: none;
}

.content .eplist ol li:hover .hidden-info {
    display: inline;
}

.nav-pane ul {
    list-style: none;
    line-height: 1.6;
}

.nav-pane ul li {
    font-size: larger;
}

.nav-pane ul li.normal {
    font-weight: bold;
}

.nav-pane ul li a {
    color: white;
}

.nav-pane form {
    margin: 1em;
    display: none;
}

.arrow-left a {
    position: fixed;
    bottom: 5%;
    left: 10%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #95A;
}

.box-middle {
    position: fixed;
    bottom: 5%;
    left: 50%;
    width: 0%;
    height: 1rem;
}

.box-middle input[type="checkbox"] {
    display: none;
}

.arrow-right a {
    position: fixed;
    bottom: 5%;
    right: 10%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #95A;
}

.sorts {
    position: fixed;
    bottom: 15%;
    left: 5%;
}

.sorts button {
    background-color: white;
    height: 20px;
    width: 10em;
    display: block;
    margin-top: 5px;
    font-size: 15px;
    padding: 0;
    text-align: center;
}

.sorts button.selected {
    background-color: white;
    color: white;
}

.content .centre {
    text-align: center;
    text-indent: 0%;
}

.seriesheader {
    text-decoration: underline;
}

.content .seriesname {
    display: flex;
    justify-content: center;
    font-size: smaller;
    text-indent: 0%;
}

@media screen and (max-width: 800px) {


    .content {
        width: 100%;
        margin-left: 0.5em;
        margin-right: 0;
    }

    .sorts {
        position: fixed;
        left: 30%;
        bottom: 10%;
        background-color: black;
        /* width: 50%; */
        justify-content: space-evenly;
        display: none;
    }


    .box-middle input[type="checkbox"] {
        display: block;
    }

    input:checked+div {
        display: block;
    }

    .sorts p {
        text-indent: 0;
    }

    .sorts p:last-child {
        order: -1;
    }

    .sorts button.selected {
        background-color: black !important;
        color: white !important;
    }

    button#airdate {
        background-color: yellow;
    }

    button#calendar {
        background-color: turquoise;
    }

    button#wallet {
        background-color: blue;
        color: white;
    }

    button#default {
        background-color: purple;
        color: white;
    }

    button#length {
        background-color: orange;
    }

    button#random {
        background-color: green;
        color: white;
    }

    button#epname {
        background-color: red;
        color: white;
    }

    .sorts button {
        height: 20px;
        width: 200px;
    }
}