a:link {
    color: #5555FF;
    /* light blue */
}

a:visited {
    color: #95A;
    /* light violet */
}

.symbol {
    font-family: serif;
    font-style: italic;
    font-size: larger;
}

.mobile {
    display: none;
}

.multiline .tinellbian {
    display: block;
}

ipa {
    font-family: 'lucida sans unicode', 'segoe ui', monospace, sans-serif;
}

strong {
    font-size: 0.95rem;
}

ipa strong {
    font-weight: 900;
    color: red;
}

.overline {
    text-decoration: overline;
}

@font-face {
    font-family: tinellb;
    src: url('../assets/tinellb.ttf');
}

.tinellbian {
    font-family: tinellbian, tinellb;
    font-size: larger;
}

.tinellbian:lang(x-tlb-hl) {
    direction: rtl;
    unicode-bidi: bidi-override;
}

.tinellbian:lang(x-tlb-hl)::after {
    content: "\202c\00e8";
    font-size: 0;
}

.tinellbian:hover {
    font-size: xx-large;
    padding: 0em 0.5em;
    cursor: none;
}

table .tinellbian:hover {
    font-size: larger;
    font-weight: inherit;
    padding: inherit;
    cursor: inherit;
}

main abbr.glossary {
	font-variant: small-caps;
	font-style: normal;
	text-decoration: none;
}

main abbr.glossary::after {
	content: "?";
	vertical-align: super;
	font-size: smaller;
}

h1 a:visited,
h1 a:link {
    color: black;
    text-decoration: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

nav.main {
    /* text-align: center; */
    width: 25%;
    margin-top: 2rem;
}

nav summary {
    list-style-type: "☰";
    text-align: center;
}

/* nav .javascript {
    text-align: left;
} */

nav details[open] summary {
    list-style-type: '✖';
}

nav details ul ul {
    margin-left: 5%;
    text-align: left;
}

nav details ul {
    text-align: center;
}

nav .nav-links {
    margin-left: 30%;
}

.javascript,
.hidden {
    display: none;
}

input[type='checkbox'] {
    display: none;
}

main {
    margin-left: 5%;
    width: 60%;
}

main p {
    text-align: justify;
    margin-top: 0;
    margin-bottom: 0;
}

main p.example {
    margin-top: 1em;
}

main table {
    border-collapse: collapse;
}

main td,
main th {
    border: 1px solid darkgrey;
    white-space: nowrap;
}

main th {
    padding: 0 1em;
}

main th a {
    color: inherit;
    text-decoration: inherit;
}

main th:first-child {
    text-align: right;
}

main td {
    text-align: center;
}

main .message p {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: smaller;
    color: red;
}

main .wordlist {
    border-left: 1px solid green;
    border-bottom: 1px solid green;
}

main .wordlist .block {
    margin-top: 1rem;
}

main .universe {
    display: inline;
    font-family: serif;
}

main .results .title-results {
    font-weight: bold;
    padding-left: 5%;
    padding-top: 1em;
}

nav.mini {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer {
    margin-top: 2rem;
    margin-left: 30%;
    margin-right: 10%
}

footer .copyright {
    font-size: smaller;
    font-family: serif;
    text-align: right;
    width: 85%;
    line-height: 1.5;
}

nav.mini p {
    padding-left: 0;
    margin-left: 0;
}

/* 
footer nav.mini {

} */


.no-breaks {
    white-space: nowrap;
}

@media screen and (max-width: 800px) {
    .flex {
        flex-direction: column;
    }

    main {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    main p {
        text-align: left;
    }

    nav.main{
        width: 100%;
    }

    main table {
        display: none;
    }

    main div.mobile table {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    main div.mobile-table table {
        display: block;
        margin-left: 15%;
    }

    main div.mobile-table ul {
        padding-left: 0;
        margin-left: 10%;
    }

    main abbr.glossary::after {
        content: "";
        vertical-align: super;
        font-size: smaller;
    }

    footer {
        margin-left: 5%;
        margin-right: 5%;
    }

    footer .copyright {
        width: 100%;
    }

    nav.mini p {
        text-indent: 0;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: initial;
    }

    main input.folder:checked+div.folding .tooltip-text {
        display: none;
    }

    main span.tooltip:hover .tooltip-text {
        display: none;
    }

    main span.tooltip::after {
        content: none;
    }
}